@keyframes circle-in-top-right {
  from {
    clip-path: circle(0% at top right);
  }
  to {
    clip-path: circle(150% at top right);
  }
}

html,
body {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.h1 {
  grid-column: 1;
  grid-row: 1;
  font-family: "Bodoni 11";
  font-size: 2.5rem;
  font-weight: bold;
  margin: 35px 0 0 40px;
}

.h1 a {
  text-decoration: none;
  color: black;
}

.nav-right {
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right both;
  visibility: hidden;
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  margin: 40px 0 0 0;
}

.nav-right {
  visibility: visible;
}

.nav-right ul {
  font-family: "Courier New", monospace;
  display: flex;
  list-style: none;
  font-size: 1rem;
  margin: 0;
}

.nav-right li a {
  margin-right: 30px;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}

.nav-right li a:hover {
  color: blue;
}

.church {
  margin-top: 60px;
  margin-left: 40px;
  grid-column: 1;
  grid-row: 2;
}

.church img {
  margin-top: 20px;
  width: 40vw;
  height: auto;
}

.bay {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bay img {
  margin-left: 250px;
  margin-top: 210px;
  width: 28vw;
  height: auto;
}

.building {
  margin-right: 40px;
  grid-column: 2;
  grid-row: 3;
}

.building img {
  width: 35vw;
  height: auto;
}

.footer {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  grid-column: 1/-1;
  grid-row: 4;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* 手机上单列布局 */
    grid-template-rows: auto auto auto 1fr auto; /* 增加一行给导航栏 */
  }

  .h1 {
    margin: 20px;
    text-align: center; /* 居中标题 */
    grid-column: 1; /* 占据单列 */
    grid-row: 1; /* 位于第一行 */
  }

  .nav-right {
    margin: 20px;
    justify-self: center; /* 居中导航 */
    grid-column: 1; /* 占据单列 */
    grid-row: 2; /* 移动到第二行 */
  }

  .penghu {
    grid-column: 1; /* 占据单列 */
    grid-row: 3; /* 位于第三行 */
  }

  .footer {
    grid-row: 5; /* Footer in the fifth row */
  }
}

@media (max-width: 768px) {
  /* 手机设备 */
  .h1,
  .footer p {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* 平板设备 */
  .h1,
  .footer p {
    font-size: 18px;
  }
}

@media (min-width: 993px) {
  /* 桌面设备 */
  .h1,
  .footer p {
    font-size: 20px;
  }
}