@keyframes circle-in-top-right {
  from {
    clip-path: circle(0% at top right);
  }
  to {
    clip-path: circle(150% at top right);
  }
}


html, body {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.h1 {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Bodoni 11';
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0 0 40px;
}


.h1 a {
  text-decoration: none;
  color: black;
}


.nav-right {
  animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-top-right both;
  visibility: hidden;
  grid-column: 5;
  grid-row: 1;
  justify-self: end;
  margin: 60px 0 0 0;
}

.nav-right {
  visibility: visible; 
}

.nav-right ul {
  font-family: 'Courier New', monospace;
  display: flex;
  list-style: none;
  font-size: 15px;
  margin: 0;
}

.nav-right li a {
  margin-right: 30px;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}

.nav-right li a:hover {
  color: blue;
}



.penghu{
  display: grid;
  place-items: center;
  margin-top: 20px;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 2;
}

.penghu img {
  width: 90vw;
  height: auto;
}

.penghu p {
  margin-top: 20px;
  grid-column: 1;
  grid-row: 3;
  font-family: 'Courier New', Courier, monospace
 }
 
.art {
  display: grid;
  place-items: center;
  margin-top: 20px;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 4;
}

.art img {
  width: 90vw;
  height: auto;
}

.art p {
  margin-top: 20px;
  grid-column: 1;
  grid-row: 4;
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  grid-column: 1/-1;
  grid-row: 6;
}

@media (max-width: 768px) {
  /* 手机设备 */
  .header h1, .footer p {
      font-size: 16px;
  }
  .content p {
      font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* 平板设备 */
  .header h1, .footer p {
      font-size: 18px;
  }
  .content p {
      font-size: 16px;
  }
}

@media (min-width: 993px) {
  /* 桌面设备 */
  .header h1, .footer p {
      font-size: 20px;
  }
  .content p {
      font-size: 18px;
  }
}