html,
body {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 添加box-sizing以确保padding和border不会影响元素的最终大小 */
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.h1 {
  grid-column: 1/-1;
  grid-row: 1;
  font-family: "Bodoni 11";
  font-size: 2.5rem;
  font-weight: bold;
  margin: 30px 0 0 40px;
}

.h1 a {
  text-decoration: none;
  color: black;
}

.nav-right {
  animation: 3s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right both;
  visibility: visible;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  margin: 40px 0 0 0;
}

.nav-right ul {
  font-family: "Courier New", monospace;
  display: flex;
  list-style: none;
  font-size: 15px;
}

.nav-right li {
  position: relative;
  margin-right: 5px;
}

.nav-right li a {
  margin-right: 30px;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}

.nav-right li a:hover {
  color: blue;
}

.nav-right .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease, transform 5s ease;
}

.nav-right .dropdown a {
  padding: 10px 10px;
  margin: 15px;
}

.nav-right li:hover .dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


.education, .things_i_love_do, .intro  {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 12px;
  color: #888;
  font-weight: normal;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.education-content, .info-content, .things_i_love_do-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.education-text, .info-text {
  flex: 1;
  padding-right: 40px;
}

.university {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}


.degree-details, .hobby-details {
  list-style-type: none;
  padding: 0;
}

.degree-details li, .hobby-details li {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.2;
}

.education-image {
  flex: 1;
  max-width: 50%;
}

.education-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.image-caption {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  text-align: center;
}


@media (max-width: 768px) {
  .education-content, .info-content, .things_i_love_do-content {
    flex-direction: column;
  }
  
  .education-text {
    padding-right: 0;
    margin-bottom: 30px;
  }
  
  .education-image {
    max-width: 100%;
  }
}


.contact-form {
  grid-row: 6;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  font-family: "Bodoni 11", serif;
  transition: all 0.3s ease; /* 添加动画效果 */
}

.contact-form h2 {
  margin-top: 0;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  font-family: 'Courier New', Courier, monospace;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 24px;
  width: 100%;
}

.contact-form button:hover {
  background-color: #0056b3;
  scale: 1.02;
}

.footer {
  grid-row: 6;
  text-align: center;
  
  padding: 20px 0;
  font-family: "Courier New", monospace;
}


/* 响应式布局调整 */
@media (max-width: 768px) {
  .h1 {
    margin: 20px;
    text-align: center; /* 居中标题 */
    grid-column: 1; /* 占据单列 */
    grid-row: 1; /* 位于第一行 */
  }

  .nav-right {
    margin: 20px 0 0 25px;
    justify-self: center; /* 居中导航 */
    grid-column: 1; /* 占据单列 */
    grid-row: 2; /* 移动到第二行 */
  }

  .intro {
    grid-column: 1;
    grid-row: 3;
  }

  .education {
    grid-column: 1;
    grid-row: 4;
  }

  .things_i_love_do {
    grid-column: 1;
    grid-row: 5;
  }

  .footer {
    grid-row: 6; /* Footer in the fifth row */
  }

  .contact-form {
    width: 90%;
    max-width: none;
    padding: 10px;
  }
  .random-image {
    width: 90%;
    max-width: none;
  }
  .h1,
  .footer p {
    font-size: 16px;
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  /* 平板设备 */
  .h1,
  .footer p {
    font-size: 18px;
  }

  .contact-form {
    width: 80%;
    max-width: 600px;
  }
}

@media (min-width: 993px) {
  /* 桌面设备 */
  .h1,
  .footer p {
    font-size: 20px;
  }

  .contact-form {
    width: 100%;
    max-width: 600px;
  }
}
