html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.h1 {
  font-family: "Bodoni 11", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.h1 a {
  text-decoration: none;
  color: black;
}

.nav-right ul {
  font-family: "Courier New", monospace;
  display: flex;
  list-style: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.nav-right li {
  margin-left: 30px;
}

.nav-right li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav-right li a:hover {
  color: blue;
}

.content {
  grid-column: 1 / -1;
  grid-row: 2;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  grid-column: 1 / -1;
  grid-row: 3; /* Changed from 4 to 3 */
}

@media (max-width: 768px) {
  .container {
    grid-template-rows: auto auto auto auto auto auto auto;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

 .h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.nav-right ul {
  width: 100%;
}

.nav-right ul {
  flex-wrap: wrap;
  justify-content: center;
}

.nav-right li {
  margin: 5px 15px;
}

.footer {
    grid-row: 4;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h1 {
    font-size: 2.25rem;
  }

@media (max-width: 768px) {
    .h1,
    .footer p {
      font-size: 16px;
    }
  }
  
@media (min-width: 993px) {
    .h1 {
      font-size: 2.5rem;
    }
}