<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>每日經濟資訊</title>
    <link rel="stylesheet" href="css/stock.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="imgs/R.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <link
      rel="stylesheet"
      href="https://indestructibletype.com/fonts/Bodoni/Bodoni.css"
      type="text/css"
      charset="utf-8"
    />
    <style>
      th {
          cursor: pointer;
      }
      table {
          width: 100%;
          border-collapse: collapse;
      }
      th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
      }
      th {
          background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <header class="h1">
          <a href="main.html">Liao ChenChing</a>
        </header>
  
        <nav class="nav-right">
            <ul>
              <li>
                <a href="https://www.youtube.com/channel/UCPurBYw_me-f-qJwwO2UnPg"
                  ><i class="fa-brands fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/polarskr/"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li><a href="2023photo.html">2023.</a></li>
              <li><a href="2024photo.html">2024.</a></li>
              <li><a href="financial_data.html">Economic data.</a></li>
              <li><a href="about me.html">About.</a></li>
            </ul>
          </nav>
          
    <div class="content">
      <table id="financialTable">
        <thead>
          <tr>
            <th onclick="sortTable(0)">指數名稱</th>
            <th onclick="sortTable(1)">當前值</th>
            <th onclick="sortTable(2)">變化</th>
            <th onclick="sortTable(3)">變化百分比</th>
          </tr>
        </thead>
        <tbody>
          {{data_rows}}
        </tbody>
      </table>
    </div>

    <div class="footer">&copy; 2024 Ralph Liao</div>
    
    <script>
      function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("financialTable");
          switching = true;
          dir = "asc";
          while (switching) {
              switching = false;
              rows = table.rows;
              for (i = 1; i < (rows.length - 1); i++) {
                  shouldSwitch = false;
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  if (dir == "asc") {
                      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                          shouldSwitch = true;
                          break;
                      }
                  } else if (dir == "desc") {
                      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                          shouldSwitch = true;
                          break;
                      }
                  }
              }
              if (shouldSwitch) {
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                  switchcount++;
              } else {
                  if (switchcount == 0 && dir == "asc") {
                      dir = "desc";
                      switching = true;
                  }
              }
          }
      }
    </script>
  </body>
</html>
