/* ==========================================================================
   4. 主要內容區域 (Main Content Area) & 基本佈局
   ========================================================================== */

   main {
     padding-top: 20px;
     padding-bottom: 20px;  

    padding-top: $spacing-unit * 2; 
    padding-bottom: $spacing-unit * 2; 

  
    
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
    animation-delay: 0.2s; 
    
  }